/* App.css */

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #047366;;
}

.login-card {
  width: 90%;
  max-width: 400px;
  padding: 20px;
  border-radius: 30px;
  background-color: #ded8d8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-title {
  text-align: center;
  color: #047366;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  background-color: #047366;
  flex-direction: column;
  border-radius: 10px;
}

.login-input {
  padding: 12px;
  margin: 8px 0;
  margin-left: 5%;
  margin-right: 5%;
  border: 1px solid #fff;
  border-radius: 4px;
  font-size: 16px;
  background-color: #047366;
}

.login-button {
  padding: 12px;
  margin-top: 16px;
  margin-left: 7%;
  margin-right: 7%;
  background-color: #fff;
  color: #100f0f;
  border: 1;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  border-color: #fff;
}
.skip-button {
  padding: 12px;
  margin-top: 16px;
  margin-left: 7%;
  margin-right: 7%;
  background-color: #047366;
  color: #fff;
  border: 1;
  border-radius: 10px;
  border-color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.skip-button:hover{
  background-color: #fff;
  color: #100f0f;
}
.login-button:hover {
  background-color: #047366;
}

.error-text {
  color: red;
  font-size: 14px;
  text-align: center;
  margin: 8px 0;
}
.smallertext{
  color: #fff;
  font-size: 14px;
  margin: 8px 0;
  margin-left: 3%;
  margin-right: 3%;
}
.track-button {
  margin: 10px;
  padding: 8px 16px;
  font-size: 16px;
}
.map-container {
  margin-top: 20px;
}
/* src/BikeTrackingMenu.css */
.bike-tracking-menu {
  width: 80%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  color: #333;
}

h1 {
  text-align: center;
  color: #0052cc;
}

.bike-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1.5em;
  margin: 1em 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.bike-card:hover {
  transform: scale(1.02);
}

h2 {
  color: #0052cc;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.icon {
  color: #0052cc;
  margin-right: 0.5em;
}

.bike-info {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;
  gap: 1em;
}

.info-item {
  flex: 1 1 45%;
  display: flex;
  align-items: center;
  font-size: 0.9em;
}

.info-item span {
  margin-left: 0.5em;
}

/* Color indicators for battery levels */
.info-item .FaBatteryFull {
  color: #4caf50;
}

.info-item .FaTachometerAlt {
  color: #ffa726;
}

.info-item .FaMapMarkerAlt {
  color: #ef5350;
}

